<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>Navigation</title>
</head>

<body>

    <nav epub:type="toc" id="toc">
        <h1>Navigation</h1>
        <ol>
            <% navigationItems.forEach(function (item) { %>
            <li><a href="xhtml/<%= item.fileName %>"><%= item.title %></a></li>
            <% }); %>
        </ol>
    </nav>

    <nav epub:type="landmarks" id="guide">
        <h1>Guide</h1>
        <ol>
            <% guideItems.forEach(function (item) { %>
            <li><a <% if(item.frontmatter.epubType) { %> epub:type="<%= item.frontmatter.epubType %>" <% } else { %> epub:type="chapter" <% } %> href="xhtml/<%= item.fileName %>"><%= item.title %></a></li>
            <% }); %>
        </ol>
    </nav>

</body>

</html>