<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:epub="http://www.idpf.org/2007/ops"
  xml:lang="ja"
  lang="ja"
  class="<%= frontmatter.htmlClass ? frontmatter.htmlClass : 'vertical' %>">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <% if(frontmatter.viewport) { %>
  <meta name="viewport" content="<%= frontmatter.viewport %>" />
  <% } %>
  <link rel="stylesheet" type="text/css" href="../style/style.css" />
  <style type="text/css">
  <%- frontmatter.styleOverride %>
  </style>
</head>
<body>
  <div class="main">
  <%- body %>
  </div>
</body>
</html>